.sampleItem{
    box-shadow: 7.696px -9px 62.3px rgba(0, 0, 0, 0.19);
}


.lineclamp2{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
  